body{
font-family:Arial;
background-image:url("bg.jpg");
}

.title{
color:blue;
font-family:Verdana;
}

.content{
color:green;
font-size:14px;
}

.box{
width:200px;
height:100px;
background-image:url("box.jpg");
color:white;
padding:10px;
}
